﻿@using DAL.Models;
@model IEnumerable<Book>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Дата издания</th>
                    <th scope="col">Рейтинг</th>
                    <th scope="col">Кол-во страниц</th>
                    <th scope="col">Автор</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @using (Html.BeginForm("InsertBook", "Home", FormMethod.Post))
                    {
                        <td><input type="text" name="Id" value="0" readonly /></td>
                        <td><input type="text" name="Name" value="" /> </td>
                        <td><input type="text" name="CreationDate" value="" /> </td>
                        <td><input type="text" name="Rate" value="" /> </td>
                        <td><input type="text" name="PageCount" value="" /> </td>
                        <td>
                            <select class="selectpicker" name="Authors" multiple data-live-search="true">
                                @foreach (var author in ViewBag.Authors as IEnumerable<Author>)
                                {
                                    <option name="Id" value="@author.Id">@author.LastName</option>
                                }
                            </select>
                        </td>
                        <td><input type="submit" name="btnInsert" value="Insert" /> </td>
                    }
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.CreationDate</td>
                        <td>@item.Rate</td>
                        <td>@item.PageCount</td>
                        <td>
                            <ol>
                                @foreach (var author in item.Authors)
                                {
                                    <li>@author.LastName</li>
                                }
                            </ol>
                        </td>
                        <td><input type="button" name="btnUpdate" value="Update" id="@item.Id" /> <input type="button" name="btnDelete" value="Delete" id="@item.Id" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
@section Scripts
    {
    <script src="~/Scripts/require.js"></script>
    <script src="~/appScriptsJS/tsc.js"></script>

    @*<script src="~/Scripts/models/BookModel.ts"></script>
        <script src="~/Scripts/models/AuthorModel.ts"></script>*@

    @*<script src="~/Scripts/models/BookModel.ts"></script>
        <script src="~/Scripts/models/AuthorModel.ts"></script>
        <script src="~/Scripts/crud.ts"></script>*@
}